.fundoBotoesBackup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoRestaurar {
  background-color: orange;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.botaoRestaurar:hover {
  cursor: pointer;
  background-color: rgb(118, 79, 7);
  scale: 0.95;
}

.botaoSalvar {
  background-color: green;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 10px;
}
.botaoSalvar:hover {
  cursor: pointer;
  background-color: rgb(20, 83, 20);
  scale: 0.95;
}
