.fundoFiltro {
  border-bottom: 2px solid rgb(12, 105, 119);
  width: 80%;
  margin: 20px auto;
  padding: 0 0 20px 0;
}

.fundoFiltro form {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: end;
}

.fundoFiltro form span {
  font-weight: 600;
  font-size: 1.5em;
  color: rgb(7, 77, 87);
  margin-right: 5px;
}

.fundoFiltro form label input {
  opacity: 0.8;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.fundoFiltro form label select {
  opacity: 0.8;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.fundoFiltro form button#limpar {
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 10px 10px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  background-color: #0c6977;
}

.fundoFiltro form button#limpar:hover {
  cursor: pointer;
  background-color: #1c91a3;
  transition: 0.3s;
}

@media (max-width: 1150px) {
  .fundoFiltro form {
    width: 100%;
  }
  .fundoFiltro form label input {
    width: 80%;
  }

  .fundoFiltro form label select {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .fundoFiltro form {
    width: 100%;
  }
  .fundoFiltro form label input {
    width: 50%;
  }

  .fundoFiltro form label select {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .fundoFiltro {
    width: 95%;
  }
}

@media (max-width: 810px) {
  .fundoFiltro form label input {
    width: 80%;
  }
}

@media (max-width: 780px) {
  .fundoFiltro form {
    justify-content: space-between;
    width: 100%;
  }
  .fundoFiltro {
    width: 80%;
  }
  .fundoFiltro form {
    flex-direction: column;
  }

  .fundoFiltro form div {
    width: 100%;
  }

  .fundoFiltro form label select {
    margin: 5px 0;
    width: 100%;
  }

  .fundoFiltro form label input {
    margin: 5px 0;
    width: 100%;
  }

  .fundoFiltro form #fundolimpar {
    text-align: center;
    margin-top: 10px;
  }

  .fundoFiltro form button#limpar {
    width: 60%;
  }
}

@media (max-width: 580px) {
  .fundoFiltro {
    width: 90%;
  }
}
